<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('../partials/head'); %>

    <body class="container">
    
        <%- include('../partials/header', {pagina: 'sobre'}) %>

        <main>
            <div class="jumbotron">
                <h1>Sobre Mim</h1>
                <p>Will, o cara mais foda que você vai conhecer!</p>
            </div>
        </main>


        <%- include('../partials/footer'); %>


    </body>

</html>